* {
    margin: auto;
}

body {
    background-color: rgb(180, 252, 255);
}

h1 {
    text-align: center;
    padding-top: 10px;
}

div.buttons {
    height: 5em;
    width: fit-content;
}

div#container {
    width: 30em;
    height: 30em;
    border-radius: 2%;
    padding: 1em;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    gap: 1px 1px;
}

div.item {
    background-color: white;
    height: 100%;
    width: 100%;
}

input {
    margin: 1.5em;
    height: 2em;
    width: 10em;
    font: 15px sans-serif;
    border-radius: 1em;
    outline: none;
    background-color: white;
    border: 3px solid black;
}

input#clearbtn {
    width: 15em;
}

input:hover {
    background-color: rgb(230, 230, 230);
}